/*ut colors are CC5500 003057 D0DEBB C8C9C7*/
/*BF5700 005F86/333F48 43695B D6D2C4*/
body {
	/*font-family: "Source Sans Pro", "Helvetica Neue", arial, verdana, helvetica, sans-serif;*/
	font-family: arial, verdana, helvetica, sans-serif;
	font-size:12px;
	cursor:auto; /*was default*/
	background-color:#FFFFFF
}
* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}
html {
	height:100%;
	margin-bottom:1px;
}
#container {
	width: 95%; /*was 80*/
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	background-color: #FFFFFF;
}
#header {
	width:100%;
	padding-top:15px;
	/*background: url(opera2.jpg) no-repeat center center scroll;*/
	/*background-color:#E6E6E6;*/
}
.spacer {
	width:100%;
	height:15px;
}
hr {
	border:0px;
	color:#CCCCCC;
	/*background-color:#C8C9C7;*/
	background-color:#D6D2C4;
	height: 1px;
	width: 100%;
	text-align: left;
}
h1 {
	/*font-size:32px;*/ /*was 28*/
	font-size:36px; /*SSP was 28*/
	color:#bf5700;
	/*background-color:#C8C9C7;*/
	background-color:#D6D2C4;
	/*font-family:Arial, Verdana, Helvetica, sans-serif;
	/*font-weight:300;*/
	font-weight:500;
}
h2 {
	/*font-size:15px;*/
	font-size:20px;
	/*font-size:25px;*/ /*SSP*/
	color:#333f48;
	/*font-family:Arial, Verdana, Helvetica, sans-serif;*/
	font-weight:500;
	background-color:#D6D2C4;
}
h3 {	
	color:#bf5700; /* either 333f48 or bf5700*/
	font-size:15px;
	/*font-size:25px;*/ /*SSP*/
	text-align:left;
	font-weight:400;
	padding:5px;
	margin-top:5px;
}

#left {
	float:left;
	width:250px;
	background-color:#FFFFFF;
	color:black;
}

#main {
	margin					: 5px 5px 5px 260px; /*maybe 0 5 0 260*/
	padding					: 20px; /*was 15 now 20*/
	border-left				: 1px solid silver;
}
p {
	color:black;
	background-color:#FFFFFF;
	line-height:20px;
	padding:5px;
}
a {
	color:#bf5700;
	background-color:#FFFFFF;
	text-decoration:none;
}
a:hover {
	color:#333f48;
	background-color:#FFFFFF;
	text-decoration:underline;
}
#footer {
	clear:both;
	font-size:12px;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
}
.right {
	color:gray;
	background-color:#FFFFFF;
	float:right;
	font-size:100%;
	margin-top:5px;
}
.left {
	color:gray;
	background-color:#FFFFFF;
	float:left;
	font-size:100%;
	margin-top:5px;
}
ol {
	margin-left: 0;	
	padding:5px; /*padding-left: 2.5em;*/
}
li {
	margin-left: 0;
	margin-right: 0;
	margin-top: .5em;
	margin-bottom: .5em;
}